#header {
    text-align: center;
}
#header h1 {
    margin: 0;
}
#header img {
    float: right;
}
#footer {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}
#menu {
    font-weight: bold;
    background-color: #ddd;
}
#menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0 0 50% 5px;
    font-weight: normal;
    background-color: #ddd;
    width: 100px;
}
#content {
    margin-left: 120px;
}
.message {
    color: #390;
}
.error {
    color: #f00;
}
.form_col_a {
    width: 440px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 12px;
}

.form_col_a label {
    width: 180px;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}
.form_col_a input {
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
}
.form_col_a textarea {
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
}

.form_col_a select {
    width: 145px;
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
}

.error label {
    width: 80px;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

.error input, textarea, select {
    color: #781351;
    background: #ff0;
    border: 1px solid #781351
}

.error_message {
    color: #f00;
    display: block
}

