* {
    margin: 0;
    padding: 0;
}
#bodyblock {
}
#header {
    text-align: center;
}
#header h1 {
    margin: 0;
}
#header img {
    float: right;
}
#footer {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}
#menu {
    font-weight: bold;
    background-color: #ddd;
}
#menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0 0 50% 5px;
    font-weight: normal;
    background-color: #ddd;
    width: 100px;
}
#content {
    margin-left: 120px;
}
.message {
    color: #390;
}
.error {
    color: #f00;
}
.rows {
    width: 100%;
    clear:both;
}
.cols {
    float: left;
}

#categories_block {
    width: 100%;
}
#attributes_block {
    width: 400px;
}
.rows_of_2{
    width: 100%;
}
.col_1of2 {
    width: 200px;
    float:left; 
}
.col_2of2 {
    width: 200px;
    float:left;
}
