* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333333;
}
#wrapper {
    
}
#main {
    width:800px;
    background-color: #F00;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-image: url(/static/images/main_background.gif);
}


#left_menu {
    float: left;
    width:134px;
}
#left_menu_search {
    text-align: center;
    font-family: Arial, Gadget, sans-serif;
    color: #FFF;
    font-size:7pt;
    font-weight: bold;
}
#left_menu_categories {
    text-align: left;
    font-family: Arial, Gadget, sans-serif;
    color: #FFF;
    font-size: 10pt;
    font-weight: bold;
    padding-left: 0px;
}
#left_menu_categories dd {
    background: #ffeb08;
    width: 125px;
    border-bottom: 1px solid #659db4;
    padding: 0;
    margin: 0 0px;
}

#left_menu_categories dd a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 1px 1px;
}

#left_menu_categories dd a:hover {
    background: #74a7b7;
    color: white;
}

#left_menu_categories .first {
    padding-top: 10px;
}

#left_menu_categories .last {
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}


#center {
    position:relative;
    float: left;
    width: 546px;
}
#center_specials {
    text-align: center; 
}
#center_banners {
    text-align: center;
}
#user_menu {
    position:absolute;
    top: 2px;
    right: 10px;
    font-family: Arial, Gadget, sans-serif;
    font-weight: bold;
    font-size: 9pt;
    color: #FF0;        
}
#user_menu a{
    font-family: Arial, Gadget, sans-serif;
    font-weight: bold; 
    font-size: 9pt;
    color: #FF0;
}
#user_menu_aux {
    font-family: Arial, Gadget, sans-serif;
    font-weight: normal;
    font-size: 9pt;
    color: #ccc;

}
#content h2,p {
    font-family: Arial, Gadget, sans-serif;
    color: #FFF;
}
#content p {
    font-size: 10pt;
}

.clear {
    clear: both;
    height: 2px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 1px;
}
.left {
    float: left;
    margin: 1px 8px 0px 0px;
}
.softright {
    text-align: right;
}

#content .leftbox,
#content .rightbox {
    margin-top: 5px;
    color: #464646;
}
#content .leftbox {
    float: left;
    width: 250px;
}
#content .rightbox {
    float: right;
    width: 250px;
    margin-right: 1px;
    border-left: 1px solid #e5e5e5;
}
#content .itemleft,
#content .itemright {
    margin-top: 5px;
    color: #464646;
}
#content .itemleft {
    float: left;
    width: 200px;
}
#content .itemright {
    float: right;
    width: 370px;
    margin-right: 5px;
    font-size: 12px;
}
#content .br {
    border-bottom: 1px solid #e5e5e5;
}

#content_categories {
    margin: 0 auto;
}

.content_category {
    float:left; 
    width: 125px;
    padding: 5px;
}
.content_category_header a {
    width: 125px;
    display:block;
    background-color:#FF0;
    font-family: Arial, Gadget, sans-serif;
    color: #F00;
    font-size: 9pt;
    font-weight: bold;
    text-align:center;
}
.content_category_picture {
    background-color:#FF0;
    text-align:center;
}
.content_category_desc a {
    position:relative;
    display:block;
    background-color:#F00;
    font-family: Arial, Gadget, sans-serif;
    color: #FFF;
    font-size: 8.5pt;
    text-align:left;
    border: solid #FF0;
    border-width: 0 1px 0 1px;
    padding: 3px;
    text-decoration: none;
}
.content_category_read_more a {
    display:block;  
    background-color:#F00;  
    font-family: Arial, Gadget, sans-serif;
    color: #FF0;
    font-size: 8pt;
    text-align: center;
    font-weight:bold;
    border: solid #FF0;
    border-width: 0 1px 1px 1px 
}

#content_product {
    margin: 0 auto;
    width: 540px;
    border: 1 solid #000;
}

#content_item_detail {
    float:left; 
    width: 200px;
    font-family: Arial, Gadget, sans-serif;
    color: #FF0;
    font-size: 10pt;
    font-weight: bold;
    border: 1px solid;
}
#content_item_detail_text {
    font-family: Arial, Gadget, sans-serif;
    color: #FF0;
    font-size: 10pt;
    font-weight: bold;
    padding: 5px;
}
#content_item_detail_text a {
    font-family: Arial, Gadget, sans-serif;
    color: #FF0;
    font-size: 10pt;
    font-weight: bold;
}

#content_item_picture {
    text-align: center;
}
#content_item_header {
    width: 200px;
    display:block;
    background-color:#FF0;
    font-family: Arial, Gadget, sans-serif;
    color: #F00;
    font-size: 10pt;
    font-weight: bold;
    text-align:center;
}
#content_item_price {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
#content_item_sku {
    font-family: Arial, Gadget, sans-serif;
    color: #999;
    font-size: 8pt; 
    font-weight: normal;
    font-style:italic;
}



#content_item_description {
    float:left; 
    width: 320px;
    padding-left: 10px;
}
.content_add_to_cart {
    margin: 0 auto;
    width: 200px;
    background-color:#FF0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.content_atc_qty {
    padding: 5px;
}
.content_atc_text a {
    font-family: Arial, Gadget, sans-serif;
    color: #F00;
    font-size: 10pt;
    text-align:center;
    font-weight:bold;
    text-decoration: none;
}




#specials {
    float:left;
    width: 119px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
#specials h4 {
    font-family: Arial, Gadget, sans-serif;
    color: #FF0;
    text-align:center;
}
#special_ads {
    text-align: center;
}

.special_ad_single {
    position:relative;
    left: 2px;  
}

#footer {
    background-color: #FF0;
    text-align:center;
    font-family: Arial, Gadget, sans-serif;
    font-weight: bold;
    font-size: 9pt;
    color: #000;
    
}




#hor-minimalist-a
{
    font-family: Arial, Gadget, sans-serif;
    font-size: 12px;
    background: #fff;
    width: 530px;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
}
#hor-minimalist-a th
{
    font-size: 9pt;
    font-weight: bold;
    color: #F00;
    padding: 1px 1px;
    border-bottom: 2px solid #FF0;
}
#hor-minimalist-a td
{
    color: #000;
    padding: 5px 1px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
    color: #F00;
}


#customer_info
{
    font-family: Arial, Gadget, sans-serif;
    font-size: 12px;
    background: #fff;
    width: 530px;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
}
#customer_info th
{
    font-size: 9pt;
    font-weight: bold;
    color: #F00;
    border-bottom: 1px solid #000;
}
#customer_info td
{
    color: #000;
    padding: 5px 1px 0px 8px;
}


